@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    color: white;
    background: rgb(63, 13, 199);
    display: flex;
    float: left;
    margin: auto;
    width: 2%;
    height: 100vh;
}

.geral {
    display: flex;
}

.esquerda {
    width: 60%;
    height: 100vh;
    display: grid;
}

nav {
    width: 4vh;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.teste {
    margin: 20px;
    margin-left: 50px;
    height: 280px;
}

.html p {
    margin-top: 10px;
}

.teste h1 {
    font-size: 20px;
}

.teste h3 {
    margin: auto;
}

.estatisticas {
    display: flex;
    margin-top: 10px;
}

.estatisticas p {
    margin: auto;
    margin-left: 2px;
}

.estat1 {
    display: flex;
    background: rgb(216, 215, 215);
    padding: 15px;
    width: 150px;
    height: 50px;
    margin-right: 10px;
    border-radius: 15px;
}

.estat1 h3 {
    color: rgb(231, 65, 65);
    font-size: 30px;
}

.estat2 {
    display: flex;
    background: rgb(216, 215, 215);
    padding: 15px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}

.estat2 h3 {
    color: rgb(35, 35, 247);
    font-size: 30px;
}

.estat3 {
    display: flex;
    background: rgb(216, 215, 215);
    padding: 15px;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    border-radius: 15px;
}

.estat3 h3 {
    color: rgb(231, 65, 65);
    font-size: 30px;
}

.historico {
    margin: 20px;
    margin-left: 50px;
    margin-top: -60px;
}

.historico img {
    width: 55px;
    margin-right: 7px;
    border-radius: 10px;
}

.hist {
    display: flex;
    margin-top: 15px;
}

.pontuacao {
    margin-left: 40%;
}

.pessoas strong {
    color: rgb(231, 65, 65);
}

.ola {
    width: 80%;
    height: 35vh;
    border-radius: 15px;
    margin: auto;
    border: solid 1px;
}

.ola img {
    display: flex;
    width: 250px;
    margin: 5px;
}

.olatexto {
    display: flex;
    padding: 20px;
}

.grid h1 {
    margin-bottom: 10px;
}

.grid p {
    margin-bottom: 10px;
}

.amarelo {
    background: yellow;
    height: 60px;
}

.amarelo p {
    padding: 15px;
    color: white;
}

.direita {
    display: grid;
    background: rgb(216, 215, 215);
    width: 40%;
}

.log {
    text-align: center;
    margin: 20px;
}

.log h1 {
    font-size: 20px;
}

.log img {
    width: 100px;
    border-radius: 100%;
}

.notas {
    height: 32vh;
}

.anotacoes p {
    margin: 20px;
}

.anotacoes1 {
    width: 25%;
    height: 100px;
    margin-left: 45%;
    text-align: center;
}

.anotacoes1 h1 {
    font-size: 20px;
}

.diario {
    background: rgb(29, 28, 28);
    color: white;
    padding: 15px;
    border-radius: 15px;
}

.tarefas {
    border: solid 1px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
}

.final img {
    width: 55px;
}

.titulo {
    margin: 20px;
}

.grupos {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 20px;
}