@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.cabecalho {
    color: white;
    background: rgb(63, 13, 199);
    display: flex;
    float: left;
    margin: auto;
    width: 2%;
    height: 100vh;
}

li {
    margin: 8px;
}

.sobe {
    padding: 0px 0px 400px;
}

.desce {
    margin-top: 400px;
}

.geral {
    display: flex;
}

.esquerda {
    width: 60%;
    height: 100vh;
    display: grid;
}

nav {
    width: 4vh;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

.teste {
    margin: 20px;
    margin-left: 50px;
    height: 280px;
}

.html p {
    margin-top: 10px;
}

.teste h1 {
    font-size: 20px;
}

.teste h3 {
    margin: auto;
}

.estatisticas {
    display: flex;
    margin-top: 10px;
}

.estatisticas p {
    margin: auto;
    margin-left: 2px;
}

.estat1 {
    display: flex;
    background: rgb(216, 215, 215);
    padding: 15px;
    width: 150px;
    height: 50px;
    margin-right: 10px;
    border-radius: 15px;
}

.estat1 h3 {
    color: rgb(231, 65, 65);
    font-size: 30px;
}

.estat2 {
    display: flex;
    background: rgb(216, 215, 215);
    padding: 15px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}

.estat2 h3 {
    color: rgb(35, 35, 247);
    font-size: 30px;
}

.estat3 {
    display: flex;
    background: rgb(216, 215, 215);
    padding: 15px;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    border-radius: 15px;
}

.estat3 h3 {
    color: rgb(231, 65, 65);
    font-size: 30px;
}

.historico {
    margin: 20px;
    margin-left: 50px;
    margin-top: -60px;
}

.historico img {
    width: 55px;
    margin-right: 7px;
    border-radius: 10px;
}

.hist {
    display: flex;
    margin-top: 15px;
}

.pontuacao {
    margin-left: 50%;
}

.pessoas strong {
    color: rgb(231, 65, 65);
}

.ola {
    width: 80%;
    height: 35vh;
    border-radius: 15px;
    margin: auto;
    border: solid 1px;
}

.ola img {
    display: flex;
    width: 250px;
    margin: 5px;
}

.olatexto {
    display: flex;
    padding: 20px;
}

.grid h1 {
    margin-bottom: 10px;
}

.grid p {
    margin-bottom: 10px;
}

.amarelo {
    background: yellow;
    height: 60px;
}

.amarelo p {
    padding: 15px;
    color: white;
}

.direita {
    display: grid;
    background: rgb(216, 215, 215);
    width: 40%;
}

.log {
    text-align: center;
    margin: 20px;
}

.log h1 {
    font-size: 20px;
}

.log img {
    width: 100px;
    border-radius: 100%;
}

.notas {
    height: 32vh;
}

.anotacoes p {
    margin: 20px;
}

.anotacoes1 {
    width: 25%;
    height: 100px;
    margin-left: 45%;
    text-align: center;
}

.anotacoes1 h1 {
    font-size: 20px;
}

.diario {
    background: rgb(29, 28, 28);
    color: white;
    padding: 15px;
    border-radius: 15px;
}

.tarefas {
    border: solid 1px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
}

.final img {
    width: 55px;
    border-radius: 10px;
}

.titulo {
    margin: 20px;
}

.grupos {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 20px;
    width: 80%;
    margin-left: 60px;
}

.grupo1 {
    background: rgb(252, 123, 36);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.grupo2 {
    margin: auto;
    background: gray;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.criar {
    font-weight: bold;
}

.fim {
    display: flex;
    margin: 10px;
}

.pontuacao1 {
    margin-left: 63%;
}

.meio {
    position: absolute;
    background: rgb(88, 29, 226);
    color: white;
    margin-left: 47%;
    margin-top: -34%;
    width: 40vh;
    height: 22vh;
    border-radius: 15px;
    box-shadow: 10px 12px 17px -5px rgb(82 81 81);
    font-size: 13px;
}

.meio1 {
    padding: 5px;
    width: 65%;
}

.hoje {
    background: rgb(117, 71, 224);
    margin: 5px;
}

.flutuante {
    margin: 5px;
}

.hoje {
    margin: 5px;
    padding: 5px;
    width: 226px;
}

.agora {
    display: flex;
    margin: 5px;
    width: 383px;
    height: 99px;
    padding: 0px;
}

.agora1 {
    background: rgb(117, 71, 224);
    width: 59%;
    padding: 5px;
}

.agora2 { 
    background: rgb(117, 71, 224);
    margin-left: 5px;
    width: 115px;
    padding: 5px;
}

.agora p {
    margin-top: 5px;
}

@media (max-width: 798px) {
    .cabecalho {
        font-size: 10px;
        width: 20px;
    }

    li {
        margin: auto;
    }

    ul {
        margin-top: -260px;
    }

    .sobe {
        margin-top: 130px;
        padding: 0px 0px 207px;
    }

    .desce {
        margin-top: 250px;
    }

    .geral {
        font-size: 8px;
    }

    .esquerda {
        width: auto;
    }

    .estat1 {
        width: auto;
        padding: 0px;
    }

    .estat1 h3 {
        font-size: 10px;
    }

    .estat2 {
        width: auto;
        padding: 0px;
    }

    .estat2 h3 {
        font-size: 10px;
    }

    .estat3 {
        width: auto;
        padding: 0px;
    }

    .estat3 h3 {
        font-size: 10px;
    }

    .teste {
        margin-left: 5px;
        margin: 7px;
        height: 140px;
    }

    .teste h1 {
        font-size: 10px;
    }

    .historico {
        margin: 20px;
        margin-left: 10px;
        margin-top: -155px;
    }

    .pontuacao {
        margin-left: 5%;
    }

    .hist img {
        width: 30px;
    }

    .ola {
        width: 75%;
        height: 55%;
    }

    .olatexto {
        padding: 5px;
    }

    .ola img {
        width: 55px;
        height: 70px;
        margin: 0 auto;
    }

    .meio {
        font-size: 8px;
        width: 63%;
        height: 20%;
        margin-left: 10%;
        margin-top: -100%;
    }

    .hoje {
        width: 135px;
    }

    .agora1 {
        width: auto;
        height: 40%;
    }

    .agora2 {
        width: auto;
        height: 40%;
    }

    .log {
        margin: 7px;
        width: 45%;
        height: 50%;
    }

    .log img {
        width: 40px;
    }

    .log h1 {
        font-size: 15px;
    }

    .diario {
        padding: 5px;
        width: 95px;
    }

    .diario h1 {
        font-size: 15px;
    }

    .tarefas {
        padding: 5px;
        width: 95px;
    }

    .tarefas h1 {
        font-size: 15px;
    }

    .notas {
        margin-top: -105px;
    }

    .anotacoes {
        margin-left: -10px;
    }

    .anotacoes1 {
        margin-left: 5%;
    }

    .titulo {
        margin: 10px;
    }

    .grupos {
        margin: 5px;
        margin-left: 5px;
        font-size: 8px;
        width: 70%;
    }

    .grupo1 {
        padding: 5px;
        width: 30px;
        margin-left: 3px;
    }

    .grupo2 {
        padding: 5px;
        width: 30px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .fim {
        margin: 5px;
        font-size: 5px;
    }

    .fim img {
        width: 30px;
    }

    .pontuacao1 {
        margin-left: 10%;
    }

    .direita {
        width: 33%;
    }

    .esquerda {
        width: 50%;
    }
}

